@import url('https://fonts.googleapis.com/css?family=Nunito');
h1, h2, h3, h4, h5, h6, p{
    font-family: 'Nunito', sans-serif;
}
.drop-shadow {
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .2);
}
.bg-back{
    background-color: rgba(255, 255, 255, 0.6);
}
.regDiv{
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0;
    border: 1px dashed rgb(40, 160, 230);
    /* background-color: rgba(8, 8, 8, 0.664); */
    color: rgb(153, 153, 153);
}
.row.vdivide [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}
.img-wrapper {
    position: relative;
}

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
}

.img-overlay:before {
    content: ' ';
    display: block;
    height: 10%;
}